.lessonLayout {
  display: grid;
  height: 100dvh;
  grid-template-areas:
    "navbar navbar"
    "aside content";
  grid-template-rows: var(--size-60) 1fr;
  grid-template-columns: 250px 1fr;
}

.navbarLessonLayout {
  grid-area: navbar;
}

.asideLessonLayout {
  grid-area: aside;
  .lessonList {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
  }
}

.contentLessonLayout {
  grid-area: content;
  overflow-y: auto;
  padding: 0 var(--size-20);
}
