.lessonLayout {
  display: grid;
  height: 100dvh;
  grid-template-areas:
    "navbar navbar"
    "aside content";
  grid-template-columns: 225px 1fr;
  grid-template-rows: var(--size-60) 1fr;
}

.navbarLessonLayout {
  grid-area: navbar;
}

.asideLessonLayout {
  grid-area: aside;
}

.contentLessonLayout {
  grid-area: content;
  overflow-y: auto;
  .lessonHeader {
    padding: var(--size-24) var(--size-24) var(--size-12) var(--size-24);
  }
}
