$height: calc(100dvh - var(--size-60) - 84.65px);

.lessonPage {
  display: grid;
  gap: var(--size-4);
  grid-template-columns: 1fr 20dvh;

  .lessonAttachmentContainer {
    display: grid;
    overflow-y: auto;
    gap: var(--size-24);
    height: $height;
    padding: 0 var(--size-24) var(--size-24) var(--size-24);

    > * {
      max-width: 1040px;
    }
  }

  .lessonAttachmentIndex {
    .indexAttachmentList {
      border: none;
      border-radius: 0;
      box-shadow: none;
      overflow-y: auto;
      max-height: $height;
      border-left: var(--size-1) solid var(--color-grey-20);

      .indexAttachmentListItem {
        text-decoration: none;
      }
    }
  }
}
