.lessonPage {
  display: grid;
  // overflow-y: auto;
  // max-height: 100dvh;
  gap: var(--size-4);
  grid-template-columns: 1fr 175px;
}
.attachments_sideSection {
  height: 50vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex: 0 0 256px
}
.scrollContainer {
  height: 100%;
  padding-bottom: var(--header-offset);
  overflow: hidden;
  padding-left: var(--space-20);
}
.attachmentList {
  overflow-y: scroll;
  height: 100%;
}
.attachmentList li, .attachmentList a {
  text-decoration: none !important;
  text-decoration-color: transparent !important;
  text-decoration-style: unset !important;
  color: var(--color-text-helper)
}