.sidebar {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  border-radius: 0 !important;

  a {
    text-decoration: none;
    & * {
      font-size: var(--font-size-14);
      color: var(--color-text-secondary);
    }
  }
}
